* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;

}

body {
  height: 100vh;
  background-color: rgb(235, 37, 37, 0.9);
}

.container {
 display: flex;
 flex-direction: column;
 margin-top: 30px;
 row-gap: 16px;
 width: 80%;
 height: 90%;
 background-color: rgb(255, 255, 255);
 
}

.container__title {
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
  font-size: 3rem;
}

.form {
  display: flex;
  gap: 8px;
  font-family: 'Roboto', sans-serif;
}

.form__input {
  height: 25px; 
  padding: 8px; 
  
}

.form__button {
  cursor: pointer;
  padding: 8px;
  height: 25px;
  border: none;
  font-weight: bold;
}

.list__item {
  margin-bottom: 4px;
}

.list__item-done {
  text-decoration: line-through;
}